<div class="space-y-6">
  <div class="grid gap-6 lg:grid-cols-2">
    <%= render "dashboard/properties_panel" %>
    <%= render "dashboard/work_orders_panel" %>
  </div>

  <div class="grid gap-6 lg:grid-cols-2">
    <%= render "dashboard/tenants_panel" %>
    <%= render "dashboard/expiring_leases_panel" %>
  </div>

  <div class="grid gap-6 lg:grid-cols-2">
    <div class="lg:col-span-2">
      <%= render "dashboard/conversations_panel" %>
    </div>
  </div>
</div>
