<% content_for :title, "Admin - Properties" %>

<%= render "shared/page_header", title: "Properties" %>
<%= render "admin/shared/nav" %>

<% if @properties.any? %>
  <%= render "admin/shared/index_table" do %>
    <thead>
      <tr>
        <th class="w-[40%]">Property</th>
        <th class="w-[40%]">Landlord</th>
        <th class="w-[20%] text-right">Units</th>
      </tr>
    </thead>
    <tbody>
      <% @properties.each do |property| %>
        <tr>
          <td>
            <%= link_to property.name, admin_property_path(property), class: admin_table_link_class %>
          </td>
          <td class="<%= admin_table_muted_class %>"><%= property.landlord.display_name %></td>
          <td class="text-right <%= admin_table_emphasis_class %>"><%= property.units.size %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
  <%= render "shared/pagination", collection: @properties %>
<% else %>
  <%= render "shared/empty_state", message: "No properties yet." %>
<% end %>
